{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap" rel="stylesheet">

    <title>Dashboard Preview</title>
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <div class="dashboard">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>Dashboard</h2>
            <ul>
                <li><a href="#">Main Page</a></li>
                <li><a href="#">Notifications</a></li>
                <li><a href="#">Logs</a></li>
                <li><a href="#">Statistics</a></li>

            </ul>
        </aside>

        <!-- Main Content Area -->
        <main class="main-content">
            <h1>Overview</h1>

             <!-- Floor Sections -->
           <div class="floor" id="first-floor">
                <h2>1st Floor</h2>
                <div class="cards">
                    {% for restroom in first_floor_restrooms %}
                    <div class="card">
                    <div class="notification-indicator {% if restroom.status %}red{% else %}green{% endif %}"></div>
                    <h3>{{ restroom.location }}</h3>
                    <p>Status: {% if restroom.status %}Красный{% else %}Зеленый{% endif %}</p>
                    <p>Макс. вместимость: {{ restroom.max_capacity }} человек</p>
                    <p>Этаж: {{ restroom.floor }}</p>
                </div>
            {% endfor %}
                </div>
            </div>

            <!-- 2nd Floor -->
            <div class="floor" id="second-floor">
                <h2>2nd Floor</h2>
                <div class="cards">
                    {% for restroom in second_floor_restrooms %}
                        <div class="card">
                            <div class="notification-indicator {% if restroom.status %}red{% else %}green{% endif %}"></div>
                            <h3>{{ restroom.location }}</h3>
                            <p>Status: {% if restroom.status %}Красный{% else %}Зеленый{% endif %}</p>
                            <p>Макс. вместимость: {{ restroom.max_capacity }} человек</p>
                            <p>Этаж: {{ restroom.floor }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>

            <!-- 3rd Floor -->
            <div class="floor" id="third-floor">
                <h2>3rd Floor</h2>
                <div class="cards">
                    {% for restroom in third_floor_restrooms %}
                        <div class="card">
                            <div class="notification-indicator {% if restroom.status %}red{% else %}green{% endif %}"></div>
                            <h3>{{ restroom.location }}</h3>
                            <p>Status: {% if restroom.status %}Красный{% else %}Зеленый{% endif %}</p>
                            <p>Макс. вместимость: {{ restroom.max_capacity }} человек</p>
                            <p>Этаж: {{ restroom.floor }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </main>
    </div>
</body>
</html>
